{% extends 'base.html.twig' %}

{% block title %}SnowTricks | Login{% endblock %}

{% block body %}

        {% if error %}
            <div class="error-login">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

    <form class="login-form" method="post">



        <div class="bloc-login col-8 col-sm-6 col-lg-3 col-xl-3">
            <h1>Identifiez-vous</h1>
            <label class="login-label" for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                   autocomplete="email" required autofocus>
            <label class="login-label" for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="checkbox ">
                <label class="bloc-remenber-me">
                    <input type="checkbox" name="_remember_me"> <span
                            class="remenber-login-text">Se souvenir de moi</span>
                </label>
            </div>
            <a href="#" class="forget-password col-8">Mot de passe oublié?</a>
            <div class="bloc-btn-login">
                <button class="btn btn-lg btn-primary btn-login-form " type="submit">
                    Connexion
                </button>
                <a class="btn btn-danger btn-login-form " href="/"
                   role="button">Annuler</a>
            </div>
            <p class="create-account-text">Créer un nouveau <a href="/register" class="create-account-link">compte</a> !</p>
        </div>
    </form>
{% endblock %}
