{{ form_start(pictureForm, {'attr' :{'id':'pictureForm'}}) }}
    {{ form_widget(pictureForm) }}
<button class="btn btn-primary btn-valid-edit-form">{{ button_label|default('Save')}}</button>
{{ form_end(pictureForm) }}
