{% extends 'base.html.twig' %}

{% block title %}Aide video Youtube{% endblock %}

{% block body %}
    <div class="bloc-helper">
        <h2> Bienvenue sur la page d'aide pour l'ajout d'une vidéo YouTube</h2>
        <h3>Pour ajouter une video c'est très simple, il vous suffit de suivre les étapes suivantes :</h3>
        <p><strong>1</strong> - Cliquez sur le bouton <span>"Partager"</span> qui figure en bas à droite du lecteur Youtube</p>
        <img class="picture-1" src="/img/partager.jpg">
        <p><strong>2</strong> - Cliquez ensuite sur le boutton <span>"Copier"</span> qui figure à droite du lien</p>
        <img class="picture-2" src="/img/copiedLink.jpg">
        <p><strong>3</strong> - Enfin insérez le lien dans la zone prévue à cet effet et cliquez sur <span>"Ajouter vidéo"</span></p>
        <img class="picture-3" src="/img/inputLink.jpg">
        <p><strong>Bravo votre vidéo est en ligne !!!</strong></p>
    </div>


{% endblock %}
