<nav class="navbar navbar-expand-lg bloc-nav" data-bs-theme="dark">
    <div class="bloc-nav-1 container-fluid" id="bloc-nav-1">
        <div class="bloc-logo-text col-6">
            <a class="navbar-brand" href="/"><img alt="iconBlog" class="logo-navbar" src="/img/logo_snowTricks.png"></a>
            <div class="title-nav">
                <h4> SnowTricks</h4>
                <h6>Le site de freestyle N°1 en Europe</h6>
            </div>

        </div>

        <div class="bloc-user-connected ">
            {% if app.user %}
                <div class="bloc-connected">
                    <img class="icon-Connect" src="/img/icons/iconConnect.png" alt="iconConnect">
                    <p class="connected">Connecté avec le compte :<span
                                class="user-email">{{ app.user.userIdentifier | u.truncate(15,'...')}}</span></p>
                    <p class="connected-pseudo"></p>

                </div>
            {% endif %}


        </div>
    </div>
    <div class="bloc-link">

        <button class="navbar-toggler btn-navbar" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon btn-line"></span>
        </button>
        <div class=" collapse navbar-collapse background-link col-6 " id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 " id="nav">

                <li class="nav-item" id="hover-nav">
                    <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                </li>
                {% if not app.user %}
                    <li class="nav-item active">
                        <a class="nav-link nav-link-active" title="login" href="/login">Se connecter/S'inscrire</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link nav-link-active" href="{{ path('app_trick_index')}}">Les tricks</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin-manager">Administration</a>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('app_user_show', {'id': app.user.id}) }}">Mon compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/logout">Se déconnecter</a>
                    </li>
                {% endif %}


            </ul>
        </div>

    </div>
</nav>
