{% extends 'base.html.twig' %}

{% block title %}SnowTricks | Mot de passe oublié{% endblock %}

{% block body %}
    <div class="bloc-password">
        <h1 id="title-bloc-password">Mot de passe oublié</h1>
        <div class="bloc-form-password col-10 col-sm-8 col-lg-5 col-xl-4">
            <p>
                Pour récupérer votre mot de passe veuillez saisir l'Email relié à votre compte et valider.
            </p>
            {{ form_start(form, {'attr':{'id' : 'form-password'}}) }}
            <div class="raw-form-forget-password">{{ form_row(form.email)}}</div>
            <div class="form-button">
                <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
