<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Template{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/favicon.ico">

</head>


<body class="container-fluid body-contain">

<header class="container-fluid header-contain">
    {{ include('elements/nav.twig') }}
</header>
{% if app.user and app.user.isVerified == false %}
    <div class="alert alert-warning" role="alert">
        Vous devez obliogatoirement valider votre email pour pouvoir modifier votre compte, ajouter ou modifier une figure et laisser des commentaires
    </div>
    {% endif %}
{% for flash in app.flashes ('success') %}
    <div class="alert alert-success">{{ flash }}</div>
{% endfor %}


<main class="main-content">


    {% block body %}

    {% endblock %}

</main>


<footer class="footer-content">

    <div class="bloc-footer">
        <div class="right-bloc-picto">
            <div class="bloc-picto">
                <a href="https://fr-fr.facebook.com/" target="_blank"><img class="picto" alt="logo-facebook"
                                                                           src="/img/facebook.svg"></a>
                <a href="https://www.instagram.com/" target="_blank"><img class="picto" alt="logo-facebook"
                                                                          src="/img/instagram.svg"></a>
                <a href="https://twitter.com/" target="_blank"><img class="picto" alt="logo-facebook"
                                                                    src="/img/twitter.svg"></a>
            </div>
            <div class="join-us">
                <hr class="separator-join-us-up">
                <p>Rejoingez-Nous</p>
                <hr class="separator-join-us">
            </div>
        </div>

        <div class=" link-footer ">

            <ul>
                {% if app.user %}
                    <li class="nav-footer-link-logout">
                        <a class="nav-link logout" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                {% endif %}


                <li class="nav-footer-link">
                    <a class="nav-link active" href="/">Accueil</a>
                </li>
                {% if not app.user %}
                    <li class="nav-footer-link-login">
                        <a class="nav-link " href="/login">Se connecter/S'inscrire</a>
                    </li>
                {% endif %}

                <li class="nav-footer-link">
                    <a class="nav-link " href="{{ path('app_trick_index') }}">Les Tricks</a>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-footer-link">
                        <a class="nav-link link-admin " href="/admin-manager">Administration</a>
                    </li>
                {% endif %}

                <li class="nav-footer-link">
                    <a class="nav-link " href="#">▲ Haut de page ▲</a>
                </li>
            </ul>
        </div>


    </div>
    <div class="copyright">
        <p class="copyright"> &copy; SnowTricks | 2022-2023</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>


</html>

