{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}



{% block body %}
    <div class="bloc-erreur-404">
        <div class="bloc-logo-404">
            <img alt="logo-404" class="logo-404" src="/img/error/ERREUR_404.png"/>
            <h1>404</h1>
        </div>
        <P class="oups"> Oups !!</P>
        <P class="message-404"> La page que vous recherchez n'existe pas </P>
    </div>

{% endblock %}
