{% extends 'base.html.twig' %}

{% block title %}SnowTricks | Créer un Trick{% endblock %}

{% block body %}
    <div class="bloc-new-trick">

        <h1>Créer une nouvelle figure</h1>

        {{ include('tricks/_form.html.twig', {'button_label': 'Créer la figure'}) }}

        <div class="link-list"><a href="{{ path('app_tricks_index') }}">Retour à la liste des figures</a></div>

    </div>
{% endblock %}
